<% include ./partials/header %>
  <div class="row">
    <div class="mx-auto">
      <form action="/todo/edit/<%= todo._id %>" method="post">
        <div class="form-group">
          <label>Todo title</label>
          <input class="form-control" required type="text" name="text" id="todo-text" value="<%= todo.text %>">
        </div>
        <div>
          <label>Todo description</label>
          <textarea class="form-control" required name="body" id="todo-body"><%= todo.body %></textarea>
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Submit</button>
        <a class="btn btn-danger"href="/">Cancel</a>
      </form>
    </div>
  </div>
  <% include ./partials/footer %>